/* basic elements styling */
/* html {

} */

body {
  background-image: url('/img/salmonLogo.png');
  background-repeat: repeat-y;
  background-position: right top;
  background-color: bisque;
  background-size: 35%;
  /* opacity: 50%; */
}

h1 {
  font-family: 'Cuprum', sans-serif;
  color: cadetblue;
}

/* Seattle { */
  /* font-size: 2em;
} */
  
li {
  font-family: "Verdana";
  color: purple;
  
}
 
p {
  font-family: "Georgia";
  color: darkgreen;
  font-size: 1.5em;
}

table {
  border-spacing: 5px;
  border: medium solid darkred;
  margin: 10px;
  width: 50%;
  font-size: 1em;
}

tr:nth-child(even) {
  background-color: firebrick;
}

tr td {
  padding: 10px;
  border: 1px solid goldenrod;
  border-radius: 5px;
  color: darkchocolate;
  text-align: right;
}

#table-head, #table-foot {
  background-color: rgba(218, 165, 32, .5);
  font-weight: bold;
  text-align: right;
}

/* th {
  background-color: rgba(218, 165, 32, .5);
  font-weight: bold;
} */
  

