/* basic elements styling */
html {

}

body {

}

h1 {
  font-family: 'Cuprum', sans-serif;
}

/* Seattle { */
  font-size: 2em;
}
  
li {
  font-family: "Verdana";
}
 
p {
  font-family: "Georgia";
}
  